* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
}

/* Заголовок */
header {
    margin-top: 11px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #B3B3B3CC;

}

/* Ліва частина  */
.left-object {
    display: flex;
    align-items: center;
    margin-left: 140px;
    gap: 12px;
}

.group {
    width: 60px;
    height: 60px;
}

.brand-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.smart-money {
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    vertical-align: bottom;
    color: #7700AA;
}

.solutions {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    vertical-align: bottom;
    color: #FF8822;
}

/* Права частина */
.right-object {
    display: flex;
    justify-content: space-between;
    padding-right: 140px;
}

.call {
    display: flex;
    flex-direction: row;
    line-height: 1;
    gap: 20px;
    
    
}

.callus {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin-right: 0px;
}

.tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #F5821E;
}

.login-btn {
    margin-top: 10px;
    width: 114px;
    height: 44px;
    color: #F5821E;
    border: 1px solid #F5821E;
    background-color: #ffffff;
    border-radius: 5px;
} 